<h1>Welcome!</h1>

<p>
  <button (click)='login()'>login</button>
  <button (click)='logoff()'>logout</button>
  <button (click)='refresh()'>force silent refresh</button>
  <button (click)='reset()'>reset everything</button>
</p>

<h2>authService.getIdentityClaims()</h2>
<pre>{{identityClaims | json}}</pre>

<h2>authService.getAccessToken()</h2>
<pre>{{accessToken}}</pre>

<h2>authService.getAccessTokenExpiration()</h2>
<pre>{{accessTokenExpiration}}</pre>

<h2>authService.getIdToken()</h2>
<pre>{{idToken}}</pre>

<h2>authService.getIdTokenExpiration()</h2>
<pre>{{idTokenExpiration}}</pre>

<h2>authService.getRefreshToken()</h2>
<pre>{{refreshToken}}</pre>
